@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swa');

:root {
  --color1:  #3D3D3D;
  --color2:  #84B026;
  --color3:  #217373;
  --color3a: #E5F1F1;
  --color3b: #B3D5D5;
  --color4:  #173540;
  --color5:  #161F30;
  --color6:  #B06427;
  --color7:  #8E27B0;
  --font: "Quicksand", sans-serif;
}

.App {
  font-family: var(--font);
  font-optical-sizing: auto;
  font-style: normal;
  color: var(--color1);
  font-weight: 300;
  font-size: calc(10px + 2vmin);
  min-height: calc(100vh + 10px);
  overflow: hidden;
}

.App-header,
.as-links,
.as-work {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-weight: 300;
  color: var(--color4);
}

img.as-me {
  border-bottom-right-radius: 360px;
  border-bottom-left-radius: 360px;
  width: 200px;
  margin-top: 90px;
}

.as-links menu {
  position: relative;
  list-style-type: none;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  max-width: 250px;
}

.as-links a, 
.as-links button {
  font-family: var(--font);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 75px;
  width: 100%;
  text-decoration: none;
  color: var(--color3);
  background-color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 24px;
  border: none;
  background-color: transparent;
  padding: 0;
  transition: 0.3s ease-in-out;
  visibility: visible;
  opacity: 1;

}

.as-icon {
  height: 30px;
  width: 30px;
}

.as-icon__folder {
  filter: invert(47%) sepia(81%) saturate(462%) hue-rotate(345deg) brightness(79%) contrast(89%);  
}

.as-icon__fork {
  filter: invert(18%) sepia(46%) saturate(5170%) hue-rotate(276deg) brightness(95%) contrast(91%);
}

.as-icon__letter {
  filter: invert(64%) sepia(28%) saturate(1265%) hue-rotate(37deg) brightness(97%) contrast(70%);
}

.as-icon__linkedin {
  filter: invert(28%) sepia(78%) saturate(1883%) hue-rotate(178deg) brightness(93%) contrast(102%);
}

.as-icon-wrapper__folder,
.as-icon-wrapper__fork {
  position: relative;
}

.as-icon-wrapper__folder::after {
  display: block;
  position: absolute;
  bottom: 8px;
  left: 0;
  content: '';
  height: 20px;
  width: 30px;
  border-radius: 4px;
  background-color: var(--color6);
  transition: ease-in-out 0.3s;
}

.as-icon-wrapper__fork::after {
   display: block;
  content: '';
  position: absolute;
  top: -45px;
  bottom:-20px;
  right: -88px;
  transition: 0.2s ease-in-out;
  width: 90px;
  background-color: #fff; 
}

.as-icon-wrapper__fork .node {
  display: block;
  position: absolute;
  top: 7px;
  left: -6px;
  height: 10px;
  width: 4px;
  transition: 0.3s ease-in-out;
}

.as-icon-wrapper__fork .node::after {
  display: block;
  content: '';
  position: absolute;
  top: 100%;
  left: -2px;
  border-radius: 180px;
  height: 3px;
  width: 3px;
  border: solid 3px var(--color7);
  opacity: 0;
    transition: 0.3s ease-in-out;
}

.as-icon-wrapper__fork .node::before {
  display: block;
  content: '';
  position: absolute;
  background-color: var(--color7);
  height: 0%;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
    transition: 0.3s ease-in-out;
}

.as-icon-wrapper__fork .node-1 {
  transform: rotate(45deg);
  left: 28px;
  top: 5px;
}

.as-icon-wrapper__fork .node-2 {
  transform: rotate(140deg);
  left: 30px;
  top: 15px;
  height: 22px;
}

.as-icon-wrapper__fork .node-3 {
  transform: rotate(80deg);
  left: 42px;
  top: -5px;
  height: 36px;
}

.as-icon-wrapper__fork .node-4 {
  transform: rotate(130deg);
  left: 81px;
  top: 3px;
  height: 46px;
}

.as-icon-wrapper__fork .node-5 {
  transform: rotate(60deg);
  left: 55px;
  top: -30px;
  height: 46px;
}

.as-icon-wrapper__fork .node-6 {
  transform: rotate(160deg);
  left: 81px;
  top: -18px;
  height: 16px;
}

.as-icon-wrapper__fork .node-7 {
  transform: rotate(40deg);
  left: 86px;
  top: -45px;
  height: 26px;
}

.as-icon-wrapper__fork .node-8 {
  transform: rotate(-20deg);
  left: 39px;
  top: -13px;
  height: 16px;
}

.as-icon-wrapper__fork .node-2::before,
.as-icon-wrapper__fork .node-2::after {
  transition: 0.1s ease-in-out;
}

.as-icon-wrapper__fork .node-3::before,
.as-icon-wrapper__fork .node-3::after {
  transition: 0.2s ease-in-out;
}

.as-icon-wrapper__fork .node-4::before,
.as-icon-wrapper__fork .node-4::after {
  transition: 0.3s ease-in-out;
}

.as-icon-wrapper__fork .node-5::before,
.as-icon-wrapper__fork .node-5::after {
  transition: 0.2s ease-in-out;
}

.as-icon-wrapper__fork .node-6::before,
.as-icon-wrapper__fork .node-6::after {
  transition: 0.5s ease-in-out;
}

.as-icon-wrapper__fork .node-7::before,
.as-icon-wrapper__fork .node-7::after {
  transition: 0.6s ease-in-out;
}

button:hover .as-icon-wrapper__folder::after,
button.active .as-icon-wrapper__folder::after {
  transform: matrix(1, 0, -0.4, 0.8, 4, 2);
}

button:hover .as-icon-wrapper__fork .node::before,
button.active  .as-icon-wrapper__fork .node::before {
  height: 100%;
}

button:hover .as-icon-wrapper__fork::after,
button.active .as-icon-wrapper__fork::after {
  width: 0px;
}

button:hover .as-icon-wrapper__fork .node::after,
button.active .as-icon-wrapper__fork .node::after {
  opacity: 1;
  top: -7px;
}

.as-icon__letter {
  transition: 0.2s ease-in-out;
}

@media (min-width: 768px) {
  button:hover .as-icon__letter {
    animation: letter 1.5s ease infinite;
  }
}

@keyframes letter {
	0% {
  transform: translate(0px, 0px);
  height: 30px;
  width: 30px;
  opacity: 1;
	}
	50% {
  transform: translate(300px, -300px);
  height: 0px;
  width: 0px;
  opacity: 0;
	}
  75% {
    transform: translate(0px, 0px);
    height: 30px;
    width: 30px;
    opacity: 0;
  }
	100% {
		  opacity: 1;
	}
}

.as-links menu {
  transition: 0.3s ease-in-out;
  height: 525px;
}

.as-links .active-btns {
  height: 75px;
}

.active-btns button:not(.active, .as-back),
.active-btns a {
  opacity: 0;
  visibility: hidden;
}

.active-btns .active {
  z-index: 999;
}

.active-btns button:nth-of-type(3) {
  transform: translateY(-75px);
}

.active-btns button:nth-of-type(4) {
  transform: translateY(-150px);
}

.active-btns a:nth-of-type(1) {
  transform: translateY(-225px);
}

.active-btns a:nth-of-type(2) {
  transform: translateY(-300px);
}


button.as-back {
  font-size: 14px;
  height: auto;
  position: absolute;
  bottom: 100%;
  left: 0;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  width: 50px;
}

.arrow-back {
  height: 10px;
}

button.as-back__hidden {
  opacity: 0;
  cursor: auto; 
}

.as-work,
.as-sideprojects,
.as-contact {
  padding-bottom: 120px;
}

.as-work {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

.as-work a {
  position: relative;
  box-sizing: border-box;
  text-decoration: none;
  color: var(--color1);
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 15px;
}


@media (max-width: 767px) {
  .as-work .as-description {
    width: 100%;
  }

  .as-work .as-description p {
      font-size: 24px;
      padding: 0 15px;
      max-width: 250px;
      margin: -10px auto 40px;
  }
}

.as-work .as-description p span {
  display: block;
  margin-top: 15px;
}

@media (min-width: 768px) {
  .as-work a,
  .as-work .as-description {
    width: 50%;
  }

  .as-work .as-description {
    box-sizing: border-box;
    aspect-ratio: 895/596;
    padding: 15px;
  }

  .as-work .as-description p {
    font-size: 20px;
    padding: 45px 25px;
    box-shadow: 9px 9px 29px 0px rgba(0,0,0,0.34);
    height: 100%;
    box-sizing: border-box;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	  background-size: 400% 400%;
	  animation: gradient 15s ease infinite;
    color: #fff;
    font-weight: 600;
  }
}

@media (min-width: 878px) {
  .as-work .as-description p {
    padding: 45px 25px;
    font-size: 24px;
  }  
}

@media (min-width: 1200px) {
  .as-work a,
  .as-work .as-description {
    width: 33%;
  }

  .as-work .as-description p {
    padding: 45px 25px;
    font-size: 20px;
  }
}

@media (min-width: 1300px) {
  .as-work .as-description p {
    padding: 45px 25px;
    font-size: 24px;
  }
}

.as-work a p {
  position: absolute;
  left: 25px;
  right: 25px;
  top: 50px;
  transition: 0.3s ease-in-out;
  opacity: 0;
  z-index: 1;
}

.as-work a p span {
  font-size: 14px;
  display: block;
  margin-top: 30px;
}

.as-work a img {
  transition: 0.3s ease-in-out;
  box-shadow: 11px 10px 17px -12px rgba(0,0,0,0.75);
  box-shadow: 9px 9px 29px 0px rgba(0,0,0,0.34);
}

.as-work a:hover > p,
.as-work a:focus > p {
  opacity: 1;
}

.as-work a:hover > img,
.as-work a:focus > img {
  opacity: 0.07;
}

.as-sideprojects {
  justify-content: center;
}

.as-contact p {
  text-align: center;
  padding: 0 15px;
}

.as-contact form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  background: linear-gradient(-45deg, var(--color3a), var(--color3a));
  box-shadow: 9px 9px 29px 0px rgba(0,0,0,0.34);
}

@media (min-width: 768px) {
  .as-contact form {
    padding: 45px 25px;
  }  
}

.as-contact label {
  font-size: 18px;
  margin-bottom: 5px;
}

.as-contact input,
.as-contact textarea {
  padding: 15px;
  margin-bottom: 15px;
  border: transparent;
}

.as-contact textarea {
  height: 200px;
}

.as-contact .btn-wrap {
  position: relative;
  margin-top: 15px;
}

.as-sending .btn-wrap::after {
  display: block;
  content: '';
  position: absolute;
  top: 15px;
  bottom: 8px;
  right: calc(50% - 53px);
  background-color: var(--color3);
  animation: sending 1s infinite;
}

.as-contact #asBtn {
  margin-bottom: 0;
  width: 100%;
  font-family: var(--font);
  font-weight: 500;
  font-size: 24px;
  background-color: var(--color3);
  border: transparent;
  color: #fff;
  cursor: pointer;
}

.as-contact .as-sending #asBtn {
  cursor: not-allowed;
}

@keyframes sending {
  0% {
    width: 15px;
  }
  100% {
    width: 0px;
  }
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}